.app {
    color: red;
    animation: Gradient 8s ease infinite;
  }
  
  @keyframes Gradient {
    0% {
      color: red;
    }
    50% {
      color: skyblue;
    }
    100% {
      color: red;
    }
  }
  